body {
    padding-top: 60px;
    padding-bottom: 20px;
}

img {
width:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
overflow: hidden;
}	

@media screen and (min-width:0px) {

.showBigMenu{display: block;}
.showShortMenu{display: none;}
}

@media screen and (min-width:768px) {
.showShortMenu{display: block;}
.showBigMenu{display: none;}


}